@media screen and (min-width: 600px) {

  body{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: #000000;
    font-family: 'Raleway', sans-serif;
    align: center;
    margin-left: auto;
    margin-right: auto;
  }
.title{
  padding: 0em;
}
.mainContent{

  float: left;
  width: 45%;
  margin-right: 2%;
}
.mainCancerContent{
  float: left;
  width: 45%;
  margin-right: 2%;

}
.mainTreatmentContent{
  float: left;
  width: 100%;
}
}
